/* A Setting Alarm Font */
#ctime, #tpick
{
    font-family: Impact, sans-serif;
}
.header
{
    text-align: center;
    font-weight: normal;
    margin: 5px 0 10px 0;
}

/* B Setting Current Time */
#ctime
{
    margin: 0 auto;
    max-width: 350px;
    padding: 10px;
    background: #000;
    text-align: center;
}

#ctime .square
{
    display: inline-block;
    padding: 10px;
    margin: 5px;
}

#ctime .digits
{
    font-size: 24px;
    background: #fff;
    color: #000;
    padding: 20px 10px;
    border-radius: 5px;
}
#ctime .text
{
    margin: auto;
    color: #ddd;
}

/* C Setting Time Picker  */

#tpick
{
    margin: 0 auto;
    max-width: 350;
    padding: 10px;
    background: #f2f2f2;
    white-space: nowrap;
}
#tpick-h, #tpick-m, #tpick-s
{
    display: inline-block;
    width: 32%;
}

#tpick select
{
    box-sizing: padding-box;    
    width: 100%;
    font-size: 1.2em;
    font-weight: bold;
    margin: 20px 0;
}
#tset, treset
{
    box-sizing: padding-box;
    width: 50%;
    background: #3368b2;
    color: #fff;
    padding: 10px;
    border: 0;
    cursor: pointer;
}
#tset:disabled, #treset:disabled
{
    background: #aaa;
    color: #8888;
}